<div class="App" [ngClass]="{
    'hidden' : loading
  }">
  <div class='choix-couleurs'>
    <h5>Couleur GB</h5>
    <div *ngFor="let couleur of couleursDispo" class='bloc-couleur'>
      <input 
        type='radio' 
        [id]="couleur"
        name='color'
        [value]="couleur"
        (change)="onColorChange($event)"
        [checked]="couleur === selectedColor"
        />
      <label [for]="couleur">{{ couleur }}</label>
    </div>
  </div>
  <app-game-boy [selectedColor]="selectedColor"></app-game-boy>
  <app-poke-list></app-poke-list>
</div>
<div class="App" *ngIf="loading"  style="vertical-align: center;">
  <mat-progress-spinner class="loader" mode="indeterminate" color="warn"></mat-progress-spinner>
</div>