
.screen-display {
  background-color: lightgray;
  border: 5px solid black;
  border-radius: 3px;
  box-shadow: inset 0 0 10px gray;
  height: 165px;
  width: 180px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  top: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.screen-display-start {
  display: flex;
  width: 100%;
  align-items: center;
}

.screen-name {
  margin-block-start: 0em;
  margin-block-end: 0em;
  text-transform: capitalize;
}

.screen-ending-text {
  margin-block-start: 0em;
  margin-block-end: 0em;
  font-size: 10pt;
}

.screen-logo, .screen-logo-shadow {
  width: 100%;
  flex:auto;
  position: absolute;
}

.screen-logo {
  background-image: linear-gradient(
    to right,
    blue 19%,
    green,
    magenta 45%,
    red,
    yellow 75%
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font: italic bold x-large 'futura', sans-serif;
  position: absolute;
  z-index: 1;
}

.screen-logo-shadow {
  font: italic bold x-large 'futura', sans-serif;
  position: absolute;
  transform: translateY(1px);
}

.nintendo-logo-screen {
  font-family: 'Gill Sans', sans-serif;
  font-weight: bold;
  font-size: small;
  position: relative;
  top:25px;
  flex:auto;
}

